<h2>HTML & CSS</h2>
<ul>
    <li>We'd like you to make a member card which looks similar to a card on this <a target="blank"
            href="https://members.parliament.uk/members/Commons?SearchText=&PartyId=8&Gender=Any&ForParliament=0&ShowAdvanced=False">page</a>
    </li>
    <li>
        Some data to help with this is listed below. Please add your markup & styling in the "member-card" component
    </li>
    <li>
        When the card is displaying at a screen width of less than 500px hide the image
    </li>
</ul>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Neale Hanvey</td>
        </tr>
        <tr>
            <td>Party</td>
            <td>Independent</td>
        </tr>
        <tr>
            <td>Constituency</td>
            <td>Kirkcaldy and Cowdenbeath</td>
        </tr>
        <tr>
            <td>Party colour</td>
            <td>#625a75</td>
        </tr>
        <tr>
            <td>Image URL</td>
            <td>https://data.parliament.uk/membersdataplatform/services/images/memberphoto/4782</td>
        </tr>
        <tr>
            <td>Border Colour</td>
            <td>#cbc9cd</td>
        </tr>
    </tbody>
</table>

<member-card></member-card>

<hr>

<h2>Typescript</h2>
<ul>
    <li>
        Please modify the code in the "to-do-list" component
    </li>
    <li>
        Use the Fetch API / the Angular HTTP service to call the below URL to get ToDo items
    </li>
    <li>
        <a target="blank"
            href="https://jsonplaceholder.typicode.com/todos">https://jsonplaceholder.typicode.com/todos</a>
    </li>
    <li>
        An example of the provided data can be seen by clicking on the link
    </li>
    <li>
        Documentation for fetch can be found <a
            href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch" target="blank">here</a>
    </li>
    <li>
        Documentation for Angular HTTP can be found <a href="https://angular.io/guide/http" target="blank">here</a>
    </li>
    <li>
        Once you have used the fetch API / http service to retrieve items make the checkbox work
    </li>
    <li>
        Extract the ToDo item into its own component
    </li>
    <li>
        Display a count at the top of the list of how many items have been completed
    </li>
</ul>

<to-do-list></to-do-list>

<hr>